.Footer {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #232322;
  transition: padding-left 0.5s ease;
  position: relative;
  bottom: 0;
}
.Footer nav {
  height: 100%;
  width: auto;
}
.Footer nav ul {
  padding-top: 30px;
  padding-left: 0;
}
.Footer nav li,
.Footer nav ul {
  list-style: none;
  text-align: center;
}
.Footer nav li {
  display: inline-block;
}
.Footer nav a {
  display: inline-block;
  color: #ffffff;
  margin: 0 5px 0 5px;
  font-weight: 200;
  font-size: 16px;
}
.Footer a:hover {
  text-decoration: underline;
}
.Footer a.active {
  text-decoration: underline;
}
.Footer a:focus {
  text-decoration: none;
}
.Footer .credits p {
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
  margin-top: 23px;
}
@media (max-width: 922px) {
  .Footer .credits p {
    margin: 0;
    text-align: center;
  }
}
.Footer .credits p span {
  color: #f44336;
  font-size: 26px;
}
.Footer .credits p span:nth-last-child(1) {
  font-size: 16px;
  color: #ffffff;
}
.Footer .copyrights h2 {
  color: #ffffff;
  font-weight: 200;
  margin-top: 12px;
}
