
.Footer {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #232322;
  transition: padding-left 0.5s ease;
  position: relative;
  bottom: 0;

  nav {
    height: 100%;
    width: auto;
    ul {
      padding-top: 30px;
      padding-left: 0;
    }
    li, ul {
      list-style: none;
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      color: #ffffff;
      margin: 0 5px 0 5px;
      font-weight: 200;
      font-size: 16px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .credits {
    p {
      font-size: 16px;
      font-weight: 200;
      color: #ffffff;
      margin-top: 23px;
      @media (max-width: 922px) {
        margin: 0;
        text-align: center;
      }
      span {
        color: #f44336;
        font-size: 26px;
        &:nth-last-child(1) {
          font-size: 16px;
          color: #ffffff;
        }
      }
    }
  }
  .copyrights {
    h2 {
      color: #ffffff;
      font-weight: 200;
      margin-top: 12px;
    }
  }
}
